{% extends 'layout.html' %}

{% macro render_pokemon(pokemon, id='id', name='name', show_arrow=True, arrow_location='left') %}
    <div class="pokemon-card">
        <figure class="pokevolution d-flex">
            <a href="{{url_for('pokemon',pokemon_id=pokemon[id])}}"><img src="/static/img/{{ pokemon[id]}}.png"></a>
        </figure>
        <div class="info d-flex">
            {% if show_arrow and arrow_location == 'left' %}
                <div class="arrow_box before d-flex">
                    <p>{{ pokemon["forma"]}} {{ pokemon["descripcion"]}}</p>
                </div>
            {% endif %}
            <p class="nombre-pokemon"><a href="{{url_for('pokemon',pokemon_id=pokemon[id])}}">{{ pokemon[name]}}</a></p>
            {% if show_arrow and arrow_location == 'right' %}
                <div class="arrow_box d-flex">
                    <p>{{ pokemon["forma"]}} {{ pokemon["descripcion"]}}</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% block content %}
<div class="container">
    <h1>Nº {{pokemon['id']}}: {{pokemon['name']}}</h1>
    <div id="twoCards">
        <div class="card">
            <div class="card-body">
                <fieldset>
                    <legend>Pokedex</legend>
                    <p>{{pokemon.pokedex}}</p>
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr>
                                <td>GenderRate</td>
                                <td><img src="/static/img/icons/male.png">{{pokemon.male}}% <img src="/static/img/icons/female.png">{{pokemon.female}}%</td>
                            </tr>
                            <tr>
                                <td>GrowthRate</td>
                                <td>{{pokemon.growthRate}}</td>
                            </tr>
                            <tr>
                                <td>Rareness</td>
                                <td>{{pokemon.rareness}}</td>
                            </tr>
                            <tr>
                                <td>Happiness</td>
                                <td>{{pokemon.happiness}}</td>
                            </tr>
                            <tr>
                                <td>Compatibility</td>
                                <td>
                                    {% for group in pokemon.compatibility %}
                                        <a href="{{url_for('egg_group',egg=group)}}">{{group}}</a>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td>StepsToHatch</td>
                                <td>{{pokemon.stepsToHatch}}</td>
                            </tr>
                            <tr>
                                <td>Height</td>
                                <td>{{pokemon.height}} m</td>
                            </tr>
                            <tr>
                                <td>Weight</td>
                                <td>{{pokemon.weight}} kg</td>
                            </tr>
                            <tr>
                                <td>Color</td>
                                <td>{{pokemon.color}}</td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
            </div>
        </div>
        <div class="card">
            <!-- <img src="/static/img/{{pokemon['id']}}.png" class="card-img-top"> -->
            <div class="card-body">
                <img class="img-center" src="/static/img/{{pokemon['id']}}.png">
                <fieldset>
                    <legend>Tipos</legend>
                    <table class="table table-striped table-hover">
                        <tbody>
                            {% for tipo in tipos %}
                                <tr>
                                    <td><a href="{{url_for('tipos',tipo=tipo['nombre'])}}"><img src="/static/img/tipos/{{tipo["nombre"]}}.png"></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </fieldset>
                <fieldset>
                    <legend>Habilidades</legend>
                    <table class="table table-striped table-hover">
                        <thead>
                            <th>Habilidad</th>
                            <th>Tipo</th>
                        </thead>
                        <tbody>
                            {% for habilidad in habilidades %}
                                <tr>
                                    <td>{{habilidad["nombre"]}}</td>
                                    <td>{{habilidad["tipo"]}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <fieldset>
                <legend>Estadisticas</legend>
                <div id="container_chart">
                    <div><canvas id="estadisticas_radar"></canvas></div>
                    <div>
                        <canvas id="estadisticas_bar"></canvas>
                        <table class="table table-striped table-hover">
                            <thead>
                                <th></th>
                                <th>ps</th>
                                <th>atk</th>
                                <th>def</th>
                                <th>spd</th>
                                <th>atk_sp</th>
                                <th>def_sp</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Valor</th>
                                    <td>{{pokemon.ps}}</td>
                                    <td>{{pokemon.atk}}</td>
                                    <td>{{pokemon.def}}</td>
                                    <td>{{pokemon.spd}}</td>
                                    <td>{{pokemon.atk_sp}}</td>
                                    <td>{{pokemon.def_sp}}</td>
                                </tr>
                                <tr>
                                    <th>Ranking</th>
                                    <td>{{estadisticasPosicion.ps}}</td>
                                    <td>{{estadisticasPosicion.atk}}</td>
                                    <td>{{estadisticasPosicion.def}}</td>
                                    <td>{{estadisticasPosicion.spd}}</td>
                                    <td>{{estadisticasPosicion.atk_sp}}</td>
                                    <td>{{estadisticasPosicion.def_sp}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <fieldset>
                <legend>Movimientos</legend>
                <table class="table table-striped table-hover">
                    <thead>
                        <th>Nivel aprender</th>
                        <th>Movimiento</th>
                    </thead>
                    <tbody>
                        {% for movimiento in movimientos %}
                            <tr>
                                <td>{{movimiento["nivel_aprender"]}}</td>
                                <td>{{movimiento["nombre"]}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if movimientosHuevo|length > 0 %}
                <table class="table table-striped table-hover">
                    <thead>
                        <th>Movimientos Huevo</th>
                    </thead>
                    <tbody>
                        {% for movimientoHuevo in movimientosHuevo %}
                            <tr>
                                <td>{{movimientoHuevo}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </fieldset>
        </div>
    </div>
        <div class="card">
            <div class="card-body">
                <fieldset>
                    <legend>Evoluciones</legend>
                    {% if multievoluciones|length > 0 %}
                        <div id="linea-evolutiva">
                            {% for evolucion in multievoluciones %}
                                <div class="d-flex">
                                    {{ render_pokemon(pokemon, 'id', 'name', False, 'right') }}
                                    {{ render_pokemon(evolucion, 'id', 'name', True) }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if evoluciones|length > 0 or preevoluciones|length > 0 %}
                        <div id="linea-evolutiva" class="d-flex">
                            {% for evolucion in preevoluciones %}
                                {{ render_pokemon(evolucion, 'id', 'name', True, 'right') }}
                            {% endfor %}
                            {{ render_pokemon(pokemon, 'id', 'name', False) }}
                            {% for evolucion in evoluciones %}
                                {{ render_pokemon(evolucion, 'pokemon_evolucion_id', 'name_evolucion', True) }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if evoluciones|length == 0 and preevoluciones|length == 0 and multievoluciones|length == 0 %}
                        <p>No tiene evoluciones</p>
                    {% endif %}
                </fieldset>
            </div>
        </div>
    </div>
</div>
    <script>
        const statsPokemon = [{{pokemon.ps}},{{pokemon.atk}},{{pokemon.def}},{{pokemon.spd}},{{pokemon.atk_sp}},{{pokemon.def_sp}}];

        new Chart(
            document.getElementById('estadisticas_radar'),
            {
                type: 'radar',
                data: {
                    labels: ['PS','ATK','DEF','SPD','ATK_SP','DEF_SP'],
                    datasets: [{
                        label: 'Estadisticas',
                        data: statsPokemon,
                        fill: true,
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgb(255, 99, 132)',
                        pointBackgroundColor: 'rgb(255, 99, 132)',
                        pointBorderColor: '#fff',
                        pointHoverBackgroundColor: '#fff',
                        pointHoverBorderColor: 'rgb(255, 99, 132)'
                    }]
                },
                options: {
                    elements: {
                        line: {
                            borderWidth: 3
                        }
                    },
                    plugins:{
                        legend:{
                            display:false
                        }
                    },
                    scales: {
                        r: {
                            angleLines: {
                                display: false
                            },
                            suggestedMin: 0,
                            suggestedMax: 255,
                            ticks: {
                                stepSize: 25
                            },
                            grid:{
                                color: '#FFF'
                            }
                        }
                    }
                }
            }
        );

        new Chart(
            document.getElementById('estadisticas_bar'),
            {
                type: 'bar',
                data: {
                    labels: ['PS','ATK','DEF','SPD','ATK_SP','DEF_SP'],
                    datasets: [{
                        label: 'Estadisticas',
                        data: statsPokemon,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(255, 205, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(153, 102, 255, 0.2)'
                        ],
                        borderColor: [
                            'rgb(255, 99, 132)',
                            'rgb(255, 159, 64)',
                            'rgb(255, 205, 86)',
                            'rgb(75, 192, 192)',
                            'rgb(54, 162, 235)',
                            'rgb(153, 102, 255)'
                        ],
                        borderWidth: 1,
                    }]
                },
                options: {
                    indexAxis: 'y',
                    elements: {
                        line: {
                            borderWidth: 3
                        }
                    },
                    plugins:{
                        legend:{
                            display:false
                        }
                    },
                    scales: {
                        x: {
                            beginAtZero: true,
                            suggestedMax: 255,
                            ticks: {
                                stepSize: 25
                            },
                            grid:{
                                color: '#FFF'
                            }
                        }
                    }
                }
            }
        );
  

    </script>
    <script src="{{url_for('static', filename='js/pokemon.js')}}"></script>
    
{% endblock %}