body{
    background-color: black;
    color:azure;
}
table, th, td{
    border: 1px solid white;
    border-collapse: collapse;
}
legend{
    border: 1px solid white;
    background-color: lightsalmon;
    color: black;
    border-radius: 20px;
    padding:0 10px;
    width: fit-content;
}